*{
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 9px gray;
}

.App {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40%;
  min-height: 350px;
  background-color: rgba(214, 198, 156, 0.562);
  padding: 2rem;
  border-radius: 1.5rem;
}

.contagemRegressiva {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 6rem;
}

.tempo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}